.footerContainer {
  position: relative;
}

.footerContainer > hr {
  border: 1px solid var(--lightgray);
}

.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}

.social-media-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  cursor: 'pointer';
}

.social-media-links > img {
  width: 2rem;
  height: 2rem;
}

/* .social-media-links>img:hover {
  transform: scale(1.2);
} */

.footer > :nth-child(2) {
  width: 10rem;

}

.footer-blur-1 {
  bottom: 0;
  left: 15%;
  width: 26rem;
  height: 15rem;
  filter: blur(150px);
  background-color: rgb(255, 115, 0);
}

.footer-blur-2 {
  bottom: 0;
  right: 15%;
  width: 26rem;
  height: 15rem;
  filter: blur(200px);
  background-color: red;
}
